/* General styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Header and navigation */
header {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 100;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.icon {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

ul {
  list-style: none;
  display: flex;
  margin: auto;
  padding: 0 20px;
  font-size: 24px;
}

li {
  margin-left: 20px;
}

a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #ccc;
}

/* Main content */
main {
  padding: 120px 100px;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
}

/* Introduction section */
.intro-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-text {
  width: 40%;
}

.intro-image {
  width: 50%;
}

.intro-image img {
  max-width: 100%;
}

.button-container {
  position: absolute;
  top: 230px;
  left: 1100px;
}


.learn-more-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.learn-more-button:hover {
  background-color: #555;
}


/* Team section */
.team-members {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

figure {
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

img[alt*="Team Member"] {
  border-radius: 50%;
}

figcaption {
  margin-top: 10px;
  font-weight: bold;
}

/* Add a simple animation to the navigation links */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  animation: fadeIn 0.5s ease-in;
}
